body{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

.header 
{
    width:100%;
    height: 80px;
    background-color: #313554; 
    
    -webkit-box-shadow: inset 0px -3px 8px #000;
    box-shadow: inset 0px -3px 8px #000;
}
.header .title {
    color: white;
    text-shadow: #fff 0px 1px 0, #000 0 -3px 0;
    font-size: 40pt;
    float: left;
    line-height: 60px;
    margin-right: 20px;
    /*font-weight: bold;*/
}

.alert {
    margin: 20px;
}

.icap_webbiblio_success {
    margin: 25px;
    color: green;
}

.icap_webbiblio_error {
    margin: 25px;
    color: red;
}

.webLinkListBlock {
    margin: 25px;
}

    .webLinkListBlock .listHeader {
        font-family: Arial;
        font-size: 18pt;
        color: #333;
        text-shadow: 1px 1px 1px #AAA;
    }

    .webLinkListBlock ul li{
        font-size: 13pt;
        padding-bottom: 16px;
    }
                .webLinkListBlock ul li a{
                    text-indent: 10px;
                    font-color: #0e57d1;
                }
                
                .webLinkListBlock ul li a:hover{
                    font-color: #6699BB;
                }
                
                .webLinkTags {
                    color: #76ac0b;
                    font-size: 8pt;
                }

.addNewWebLinkBlock {
    margin: 25px;
}
    .addNewWebLinkBlock .addHeader {
        font-family: Arial;
        font-size: 18pt;
        color: #333;
        text-shadow: 1px 1px 1px #AAA;
    }
        #icap_bundle_webbibliobundle_weblinktype>div {
            line-height: 35px;
        }

.connectBlock {
    margin: 25px;
}
    .connectBlock .connectHeader {
        font-family: Arial;
        font-size: 18pt;
        line-height: 20pt;
        color: #333;
        text-shadow: 1px 1px 1px #AAA;
    }

    .connectBlock .connectHeader li {
        font-family: Arial;
        font-size: 11pt;
        line-height: 15pt;
    }

/*
 * Surcharge Bootstrap
 */

 label {
    display: inline;
    margin-right: 10px;
 }

.login-form
{
    margin: 20px;
}

.table-inline form
{
    display:inline;
}

 #link-list {
	list-style-type: square;
 }