{% extends 'ICAPWebBiblioBundle::base.html.twig' %}

{% block title %}{{ parent() }} :: Users{% endblock %}

{% block content %}
    <h1>FOS USER BUNDLE</h1>
    {% block fos_user_content %}{% endblock %}
{% endblock %}