<div class="connectBlock">
    <div class="connectHeader">Please enter your username</div>
    <form method="POST" action="{{ path('web_biblio_connect') }}">
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    </form>
</div>