<div class="connectBlock">
    <div class="connectHeader">You 're not logged.<br/> Please enter your username</div>
    <form method="POST" action="{{ path('web_biblio_connect') }}">
        <input name="username"/> 
        <input type="submit" value="Submit" />
    </form>
</div>