<div class="connectBlock">
    <div class="connectHeader">
        Hello {{app.user.username}} <a href="{{ path('fos_user_security_logout') }}">Disconnect</a>
    </div>
    <ul>
        {% for role in app.user.roles %}
            <li>{{role}}</li>
        {% endfor %}
    </ul>
</div>