<div class="connectBlock">
    <div class="connectHeader">
        <form method="POST" action="{{ path('web_biblio_disconnect') }}">
            Hello {{username}} <input type="submit" value="Disconnect" />
        </form>
    </div>
</div>