<div class="addNewWebLinkBlock">


    <div class="addHeader">Here you can create a new weblink:</div>
    
    <form method="POST" action="{{ path("web_biblio_add") }}">
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% block javascripts %}
    <script type='text/javascript'>var searchTagsUrl = "{{ path("exporter_api", {'entity_reference':'tag', '_format':'json'}) }}";</script>
{% endblock %}