<div class="addNewWebLinkBlock">
    <div class="page-header">
        <h1> Create a new:</h1>
    </div>
    
    <form method="POST" action="{{ path("web_biblio_add") }}">
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% block javascripts %}
    <script type='text/javascript'>var searchTagsUrl = "{{ path("exporter_api", {'entity_reference':'tag', '_format':'json'}) }}";</script>
{% endblock %}