{% extends "ICAPWebBiblioBundle::base.html.twig" %}

{% block title %}WebBiblio{% endblock %}

{% block body %}
    
    <div class="header">
        <span class="title">WebBiblio<small>(theque)</x-small></span>
    </div>

    {% include 'ICAPWebBiblioBundle:Front:list.html.twig' %}
    {% include 'ICAPWebBiblioBundle:Front:form.html.twig' %}

{% endblock %}