
<div class="weblinkListBlock">
	
	<span class="listHeader">Here you can find the list of your weblinks</span>
		
	<ul>
		<li>
			My_Weblink_Name_01<br />
			<a href="#">http://www.thisismyweblink.com</a>
		</li>
		<li>
			My_Weblink_Name_02<br />
			<a href="#">http://www.thisismyweblink.com</a>
		</li>		
		<li>
			My_Weblink_Name_03<br />
			<a href="#">http://www.thisismyweblink.com</a>
		</li>		
		<li>
			My_Weblink_Name_04<br />
			<a href="#">http://www.thisismyweblink.com</a>
		</li>
	</ul>
	
</div>
