<div class="weblinkListBlock">  
    <div class="listHeader">Here you can find the list of your weblinks</div>
        
    <ul>
    
    {% if weblinks|length > 0 %}
    <ul>
        {% for weblink in weblinks %}
            <li><a href="#">{{ weblink.url }}</a>
            <span class="weblinkTags">[
                {% for tag in weblink.tags %} 
                    {{ tag.name }}{% if not loop.last %},{% endif %}
                {% endfor %}
                ]</span><br/>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        Oupss! No weblinks yet !
    {% endif %}
    
</div>